<div class="modal-header">
  <h4 class="js-title-step"></h4>
</div>

<div class="modal-body">
  <%= captured %>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel" data-dismiss="modal"></button>
</div>
